{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <ol class="breadcrumb p-0">
            <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
            <li class="breadcrumb-item"><a href="#">Posty</a></li>
            <li class="breadcrumb-item active"><a href="#">{{ post.title }}</a></li>
        </ol>
        {% if post %}
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            <hr>
            <a href="/">Powrót</a>
        {% else %}
        <h1>Post nieistnieje</h1>
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Nie tego tutaj szukasz.. *przesuwa otwartą dłoń przed twoją twarzą*</strong></br>
            <a href="/" class="alert-link">Wróć na stronę główną</a> i spróbuj jeszcze raz.
        </div>
        {% endif %}
    </div>
{% endblock %}