{% extends 'base.html.twig' %}

{% block title %}Filmy{% endblock %}

{% block body %}
<div class="container">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item"><a href="#">Strona główna</a></li>
        <li class="breadcrumb-item active"><a href="#">Filmy</a></li>
    </ol>
    <div class="d-flex flex-row justify-content-between">
        <h1>Filmy</h1>
        <div class="btn-group mb-3" role="group">
            {% if is_granted('ROLE_USER') %}
            <a href="/movies/add" class="btn btn-primary btn-md mr-1"/>Dodaj</a>
            {% endif %}
            {{ form_start(filter) }}
            {{ form_widget(filter) }}
            {{ form_end(filter) }}
        </div>
    </div>
    {% if movies %}
    
    {{ include('/movies/index_table.html.twig') }}

    {% else %}
    <div class="alert alert-dismissible alert-danger">
        <strong>Powinny tutaj być filmy.. hmm..</strong><br/>
        Próbowałeś może <a href="/movies" class="alert-link">włączyć i wyłączyć</a>?
    </div>
    {% endif %}   
</div>
{% endblock %}