{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block body %}
<div class="container">
    <ol class="breadcrumb p-0">
        <li class="breadcrumb-item active"><a href="#">Strona główna</a></li>
    </ol>
    <div class="card-body col-7">
        <h2 class="title">Baza Filmów i Seriali</h2>
        <p class="card-text">Baza Filmów i Seriali (w skrócie BaFiS) to projekt z przedmiotu Projektowanie bazodanowych aplikacji webowych. Jest on narazie w fazie otwartej bety z rozwojowym szablonem aplikacji. Służy do oceniania i przeglądania informacji o filmach oraz serialach dodawanych przez użytkowników serwisu, a weryfikowanych przez zarząd strony. </p>
        <li class="card-subtitle">Administracja</li>
    </div>
</div>
{% endblock %}